<!doctype html>

<html lang="en">

<head>
	<title>SPCZ Time Overlay</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="SpawnPoint.CZ Time Overlay Server">
	<meta name="author" content="VentyCZ @ SpawnPoint.CZ">

	<style>
		html {
			background: rgba(0, 0, 0, 0.8);
		}

		body {
			margin: 0px;
			width: 100vw;
			height: 100vh;
		}

		.center {
			position: fixed;
			top: 50vh;
			left: 50vw;
			transform: translate(-50%, -50%);
		}

		#center-text {
			font-family: monospace;
			position: fixed;
			margin: 0;
			padding: 10px;
			color: white;
			background: rgba(0, 0, 0, 0.6);
			max-width: 100%;
			max-height: 100%;
		}

		@media only screen and (max-width: 900px) {
			#variable-time {
				font-size: 20vw;
			}

			#variable-date {
				font-size: 10vw;
			}
		}

		@media only screen and (min-width: 901px) {
			#variable-time {
				font-size: 15em;
			}

			#variable-date {
				font-size: 5em;
			}
		}

		#variable-time,
		#variable-date {
			margin: 0;
		}
	</style>
</head>

<body>
	<div class="center" id="center-text">
		<h1 id="variable-time" style="text-align: center; display: block">{{ time }}</h1>
		<h5 id="variable-date" style="text-align: center; display: block;">{{ date }}</h5></div>

	<script src="/scripts/eventsource.min.js" charset="utf-8"></script>
	<script src="/scripts/moment-with-locales.js" charset="utf-8"></script>
	<script type="text/javascript" src="/page-scripts/time.js"></script>
</body>

</html>
